/* 
    Document   : test
    Created on : 21-Jul-2012, 15:46:30
    Author     : tkout
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

span {
	b
	
	
}
element.style {
background-attachment: scroll;
border-style: none;
width: 75px;
height: 20px;
margin-left: 5px;
vertical-align: middle;
 
}